@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 class="display-4">Daily Case Summary</h2>
    <!-- Form to GetDailyCase -->
    <form action="/api/daily_case_summary" method="get" id="simple-form">
        <div class="form-group">
            <label for="start" class="control-label">Start Date</label>
            <input name="start" class="form-control" placeholder="YYYY-MM-DD"/>
        </div>
        <div class="form-group">
            <label for="end" class="control-label">End Date</label>
            <input name="end" class="form-control" placeholder="YYYY-MM-DD" />
        </div>
        <div class="form-group">
            <label for="region" class="control-label">region</label>
            <input name="region" class="form-control" placeholder="Hong Kong" />
        </div>
        <div class="form-group">
            <label class="control-label">JSON Response:</label>
            <pre><code id="result" class="language-json">Response will be displayed here</code></pre>
        </div>
        <div class="form-group">
            <input type="submit" value="Get Daily Case JSON" class="btn btn-primary" />
        </div>
    </form>
</div>
